.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  width: 640px;
  margin-top:10px;
  position: absolute;
}

.child{
  margin-top: 250px;
}

.test {
  position:absolute;
  top:300px;
  z-index:10;
  background:#fff;
  width:100%;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*.well-header {*/
  /*background-color: #888888;*/
/*}*/
/*.well-body {*/
    /*text-overflow: clip;*/
/*}*/